<head>
		<title>Amira ElEwady</title>
		<%= stylesheet_link_tag  href="<%= asset_path('main.css.erb')" %>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" type="text/css" />
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	</head>

	<body>
		<div class="profile">
			<div class="profile-picture">
				<a href="/assets/amira.jpg">
					<img src="<%= asset_path('amira.jpg') %>">
				</a>
			</div>
			<h4>
				Amira ElEwady
			</h4>
			<div class="social-links">
				<i class="fa fa-venus"></i>

			</div>
			<h2>
			  amiraelewady@gmail.com
			</h2>
			<p>
				Signature: A.M
			</p>


		</div>

	</body>
	<footer>
		<div class="social-links">
			<a href="https://www.facebook.com/profile.php?id=1513324204"><i class="fa fa-facebook-square"></i></a>
			<a href="https://twitter.com/Amira_Elewady"><i class="fa fa-twitter-square"></i></a>
			<a href="https://github.com/AmiraEwady"><i class="fa fa-github-square"></i></a>
			<a href="https://instagram.com/amiraewady/"><i class="fa fa-instagram"></i></a>
		</div>
	</footer>