<head>
		<title>Hossam Hazem</title>
		<%= stylesheet_link_tag  href="main.css" %>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" type="text/css" />
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	</head>

	<body>
		<div class="profile">
			<div class="profile-picture">
				<a href="<%= asset_path('hossam.jpg') %>">
					<img src="<%= asset_path('hossam.jpg') %>">
				</a>
			</div>
			<h4>
				Hossam Hazem
			</h4>
			<div class="social-links">
				<i class="fa fa-mars"></i>

			</div>
			<h2>
			  hossamhazem94@gmail.com
			</h2>
			<p>
				Signature: H.H.
			</p>


		</div>

	</body>
	<footer>
		<div class="social-links">
			<a href="https://www.facebook.com/hossamhazem1"><i class="fa fa-facebook-square"></i></a>
			<a href="https://github.com/Hossam-Hazem"><i class="fa fa-github-square"></i></a>
			<a href="eg.linkedin.com/in/HHazem"><i class="fa fa-linkedin"></i></a>
		</div>
	</footer>