<!DOCTYPE HTML>

<html>
	<head>
		<title>Kareem Fathi</title>
		<link rel="stylesheet" type="text/css" href="main.css">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" type="text/css" />
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	</head>

	<body>
		<div class="profile">
			<div class="profile-picture">
				<a href="imgs/sheikh.jpg">
					<img src="imgs/kareem.jpg">
				</a>
			</div>
			<h4>
				Kareem Fathi
			</h4>
			<div class="social-links">
				<i class="fa fa-mars"></i>

			</div>
			<h2>
			   al3ameeeel94@gmail.com
			</h2>
			<p>
				Signature: kareem adel fathi
			</p>


		</div>

	</body>
	<footer>
		<div class="social-links">
			<a href="https://www.facebook.com/kareem.adel.fathi"><i class="fa fa-facebook-square"></i></a>
			<a href="https://github.com/kareem-adel"><i class="fa fa-github-square"></i></a>
		</div>
	</footer>