/*

        Creating a sprite from following images:

        app/assets/images/sprites/social-share-button/baidu.png (16x16)
        app/assets/images/sprites/social-share-button/delicious.png (16x16)
        app/assets/images/sprites/social-share-button/douban.png (16x16)
        app/assets/images/sprites/social-share-button/email.png (16x16)
        app/assets/images/sprites/social-share-button/facebook.png (16x16)
        app/assets/images/sprites/social-share-button/flickr.png (16x16)
        app/assets/images/sprites/social-share-button/google_bookmark.png (16x16)
        app/assets/images/sprites/social-share-button/google_plus.png (16x16)
        app/assets/images/sprites/social-share-button/kaixin001.png (16x16)
        app/assets/images/sprites/social-share-button/pinterest.png (16x16)
        app/assets/images/sprites/social-share-button/plurk.png (16x16)
        app/assets/images/sprites/social-share-button/qq.png (16x16)
        app/assets/images/sprites/social-share-button/renren.png (16x16)
        app/assets/images/sprites/social-share-button/tqq.png (16x16)
        app/assets/images/sprites/social-share-button/tumblr.png (16x16)
        app/assets/images/sprites/social-share-button/twitter.png (16x16)
        app/assets/images/sprites/social-share-button/weibo.png (16x16)

        Output files:
          app/assets/images/sprites/social-share-button.png
          app/assets/stylesheets/social-share-button.scss

        Output size:
          80x64

*/
/* line 32, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
.social-share-button-baidu {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button-2f1744f04bcaba404a2cd53f1a50c452.png") 0px 0px no-repeat;
}

/* line 33, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
.social-share-button-delicious {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button-2f1744f04bcaba404a2cd53f1a50c452.png") -16px 0px no-repeat;
}

/* line 34, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
.social-share-button-douban {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button-2f1744f04bcaba404a2cd53f1a50c452.png") 0px -16px no-repeat;
}

/* line 35, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
.social-share-button-email {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button-2f1744f04bcaba404a2cd53f1a50c452.png") -16px -16px no-repeat;
}

/* line 36, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
.social-share-button-facebook {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button-2f1744f04bcaba404a2cd53f1a50c452.png") -32px 0px no-repeat;
}

/* line 37, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
.social-share-button-flickr {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button-2f1744f04bcaba404a2cd53f1a50c452.png") -32px -16px no-repeat;
}

/* line 38, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
.social-share-button-google_bookmark {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button-2f1744f04bcaba404a2cd53f1a50c452.png") 0px -32px no-repeat;
}

/* line 39, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
.social-share-button-google_plus {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button-2f1744f04bcaba404a2cd53f1a50c452.png") -16px -32px no-repeat;
}

/* line 40, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
.social-share-button-kaixin001 {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button-2f1744f04bcaba404a2cd53f1a50c452.png") -32px -32px no-repeat;
}

/* line 41, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
.social-share-button-pinterest {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button-2f1744f04bcaba404a2cd53f1a50c452.png") -48px 0px no-repeat;
}

/* line 42, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
.social-share-button-plurk {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button-2f1744f04bcaba404a2cd53f1a50c452.png") -48px -16px no-repeat;
}

/* line 43, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
.social-share-button-qq {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button-2f1744f04bcaba404a2cd53f1a50c452.png") -48px -32px no-repeat;
}

/* line 44, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
.social-share-button-renren {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button-2f1744f04bcaba404a2cd53f1a50c452.png") 0px -48px no-repeat;
}

/* line 45, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
.social-share-button-tqq {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button-2f1744f04bcaba404a2cd53f1a50c452.png") -16px -48px no-repeat;
}

/* line 46, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
.social-share-button-tumblr {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button-2f1744f04bcaba404a2cd53f1a50c452.png") -32px -48px no-repeat;
}

/* line 47, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
.social-share-button-twitter {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button-2f1744f04bcaba404a2cd53f1a50c452.png") -48px -48px no-repeat;
}

/* line 48, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
.social-share-button-weibo {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/assets/sprites/social-share-button-2f1744f04bcaba404a2cd53f1a50c452.png") -64px 0px no-repeat;
}

@media only screen and (-webkit-device-pixel-ratio: 2) {
  /* line 51, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
  .social-share-button-baidu {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x-10ece77fd0584d24b3621948a5ccf99c.png") 0px 0px no-repeat;
    background-size: 80px 64px;
  }

  /* line 52, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
  .social-share-button-delicious {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x-10ece77fd0584d24b3621948a5ccf99c.png") -16px 0px no-repeat;
    background-size: 80px 64px;
  }

  /* line 53, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
  .social-share-button-douban {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x-10ece77fd0584d24b3621948a5ccf99c.png") 0px -16px no-repeat;
    background-size: 80px 64px;
  }

  /* line 54, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
  .social-share-button-email {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x-10ece77fd0584d24b3621948a5ccf99c.png") -16px -16px no-repeat;
    background-size: 80px 64px;
  }

  /* line 55, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
  .social-share-button-facebook {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x-10ece77fd0584d24b3621948a5ccf99c.png") -32px 0px no-repeat;
    background-size: 80px 64px;
  }

  /* line 56, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
  .social-share-button-flickr {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x-10ece77fd0584d24b3621948a5ccf99c.png") -32px -16px no-repeat;
    background-size: 80px 64px;
  }

  /* line 57, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
  .social-share-button-google_bookmark {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x-10ece77fd0584d24b3621948a5ccf99c.png") 0px -32px no-repeat;
    background-size: 80px 64px;
  }

  /* line 58, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
  .social-share-button-google_plus {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x-10ece77fd0584d24b3621948a5ccf99c.png") -16px -32px no-repeat;
    background-size: 80px 64px;
  }

  /* line 59, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
  .social-share-button-kaixin001 {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x-10ece77fd0584d24b3621948a5ccf99c.png") -32px -32px no-repeat;
    background-size: 80px 64px;
  }

  /* line 60, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
  .social-share-button-pinterest {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x-10ece77fd0584d24b3621948a5ccf99c.png") -48px 0px no-repeat;
    background-size: 80px 64px;
  }

  /* line 61, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
  .social-share-button-plurk {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x-10ece77fd0584d24b3621948a5ccf99c.png") -48px -16px no-repeat;
    background-size: 80px 64px;
  }

  /* line 62, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
  .social-share-button-qq {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x-10ece77fd0584d24b3621948a5ccf99c.png") -48px -32px no-repeat;
    background-size: 80px 64px;
  }

  /* line 63, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
  .social-share-button-renren {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x-10ece77fd0584d24b3621948a5ccf99c.png") 0px -48px no-repeat;
    background-size: 80px 64px;
  }

  /* line 64, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
  .social-share-button-tqq {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x-10ece77fd0584d24b3621948a5ccf99c.png") -16px -48px no-repeat;
    background-size: 80px 64px;
  }

  /* line 65, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
  .social-share-button-tumblr {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x-10ece77fd0584d24b3621948a5ccf99c.png") -32px -48px no-repeat;
    background-size: 80px 64px;
  }

  /* line 66, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
  .social-share-button-twitter {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x-10ece77fd0584d24b3621948a5ccf99c.png") -48px -48px no-repeat;
    background-size: 80px 64px;
  }

  /* line 67, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/social-share-button-0.1.8/app/assets/stylesheets/social-share-button.scss */
  .social-share-button-weibo {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/assets/sprites/social-share-button@2x-10ece77fd0584d24b3621948a5ccf99c.png") -64px 0px no-repeat;
    background-size: 80px 64px;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* -------------------------------- 

Primary style

-------------------------------- */
/* line 15, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 20, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
body {
  font-size: 100%;
  font-family: "PT Sans", sans-serif;
  color: #505260;
  background-color: #fff;
}

/* line 33, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
a {
  color: #2f889a;
  text-decoration: none;
}

/* line 38, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
img {
  max-width: 100%;
}

/* line 42, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
input, textarea {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-size: 1rem;
}
/* line 46, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
input::-ms-clear, textarea::-ms-clear {
  display: none;
}

/* -------------------------------- 

Main components 

-------------------------------- */
/* line 57, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
header[role=banner] {
  position: relative;
  height: 50px;
  background: #343642;
}
/* line 62, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
header[role=banner] #cd-logo {
  float: left;
  margin: 4px 0 0 5%;
  /* reduce logo size on mobile and make sure it is left aligned with the transform-origin property */
  -webkit-transform-origin: 0 50%;
  -moz-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  -o-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
/* line 70, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
header[role=banner] #cd-logo img {
  display: block;
}
/* line 75, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
header[role=banner]::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
@media only screen and (min-width: 768px) {
  /* line 57, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
  header[role=banner] {
    height: 80px;
  }
  /* line 84, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
  header[role=banner] #cd-logo {
    margin: 20px 0 0 5%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

/* line 91, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.main-nav {
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url("../img/cd-icon-menu.svg") no-repeat center center;
  cursor: pointer;
}
/* line 99, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.main-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
/* line 107, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.main-nav ul.is-visible {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
/* line 112, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.main-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #292a34;
  border-top: 1px solid #3b3d4b;
  color: #FFF;
}
@media only screen and (min-width: 768px) {
  /* line 91, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
  .main-nav {
    width: auto;
    height: auto;
    background: none;
    cursor: auto;
  }
  /* line 128, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
  .main-nav ul {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 80px;
  }
  /* line 134, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
  .main-nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  /* line 139, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
  .main-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  /* line 143, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
  .main-nav li:nth-last-child(2) {
    margin-left: 2em;
  }
  /* line 148, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
  .main-nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
  }
  /* line 154, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
  .main-nav a.cd-signin, .main-nav a.cd-signup {
    padding: .6em 1em;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 50em;
  }
  /* line 160, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
  .main-nav a.cd-signup {
    background: #2f889a;
    border: none;
  }
}

/* -------------------------------- 

xsigin/signup popup 

-------------------------------- */
/* line 175, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.cd-user-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 54, 66, 0.9);
  z-index: 3;
  overflow-y: auto;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
  -moz-transition: opacity 0.3s 0, visibility 0 0.3s;
  transition: opacity 0.3s 0, visibility 0 0.3s;
}
/* line 190, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.cd-user-modal.is-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s 0, visibility 0 0;
  -moz-transition: opacity 0.3s 0, visibility 0 0;
  transition: opacity 0.3s 0, visibility 0 0;
}
/* line 196, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.cd-user-modal.is-visible .cd-user-modal-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

/* line 202, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.cd-user-modal-container {
  position: relative;
  width: 90%;
  max-width: 600px;
  background: #FFF;
  margin: 3em auto 4em;
  cursor: auto;
  border-radius: 0.25em;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 20, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/bourbon-4.2.0/app/assets/stylesheets/addons/_clearfix.scss */
.cd-user-modal-container .cd-switcher::after {
  clear: both;
  content: "";
  display: table;
}
/* line 218, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.cd-user-modal-container .cd-switcher li {
  width: 50%;
  float: left;
  text-align: center;
}
/* line 222, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.cd-user-modal-container .cd-switcher li:first-child a {
  border-radius: .25em 0 0 0;
}
/* line 226, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.cd-user-modal-container .cd-switcher li:last-child a {
  border-radius: 0 .25em 0 0;
}
/* line 231, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.cd-user-modal-container .cd-switcher a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #d2d8d8;
  color: #809191;
}
/* line 239, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.cd-user-modal-container .cd-switcher a.selected {
  background: #FFF;
  color: #505260;
}
@media only screen and (min-width: 600px) {
  /* line 202, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
  .cd-user-modal-container {
    margin: 4em auto;
  }
  /* line 249, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
  .cd-user-modal-container .cd-switcher a {
    height: 70px;
    line-height: 70px;
  }
}

/* line 256, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.cd-form {
  padding: 1.4em;
}
/* line 259, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.cd-form .fieldset {
  position: relative;
  margin: 1.4em 0;
}
/* line 263, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.cd-form .fieldset:first-child {
  margin-top: 0;
}
/* line 267, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.cd-form .fieldset:last-child {
  margin-bottom: 0;
}
/* line 272, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.cd-form label {
  font-size: 14px;
  font-size: 0.875rem;
}
/* line 275, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.cd-form label.image-replace {
  /* replace text with an icon */
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  text-shadow: none;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
/* line 294, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.cd-form label.cd-username {
  background-image: url("../img/cd-icon-username.svg");
}
/* line 298, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.cd-form label.cd-email {
  background-image: url("../img/cd-icon-email.svg");
}
/* line 302, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.cd-form label.cd-password {
  background-image: url("../img/cd-icon-password.svg");
}
/* line 307, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.cd-form input {
  margin: 0;
  padding: 0;
  border-radius: 0.25em;
}
/* line 312, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.cd-form input.full-width {
  width: 100%;
}
/* line 316, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.cd-form input.has-padding {
  padding: 12px 20px 12px 50px;
}
/* line 320, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.cd-form input.has-border {
  border: 1px solid #d2d8d8;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
/* line 324, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.cd-form input.has-border:focus {
  border-color: #343642;
  box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
  outline: none;
}
/* line 331, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.cd-form input.has-error {
  border: 1px solid #d76666;
}
/* line 335, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.cd-form input[type=password] {
  /* space left for the HIDE button */
  padding-right: 65px;
}
/* line 340, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.cd-form input[type=submit] {
  padding: 16px 0;
  cursor: pointer;
  background: #2f889a;
  color: #FFF;
  font-weight: bold;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
/* line 349, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.no-touch .cd-form input[type=submit]:hover, .no-touch .cd-form input[type=submit]:focus {
  background: #3599ae;
  outline: none;
}
/* line 356, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.cd-form .hide-password {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px 15px;
  border-left: 1px solid #d2d8d8;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 14px;
  font-size: 0.875rem;
  color: #343642;
}
/* line 368, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.cd-form .cd-error-message {
  display: inline-block;
  position: absolute;
  left: -5px;
  bottom: -35px;
  background: rgba(215, 102, 102, 0.9);
  padding: .8em;
  z-index: 2;
  color: #FFF;
  font-size: 13px;
  font-size: 0.8125rem;
  border-radius: 0.25em;
  /* prevent click and touch events */
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
  -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
  transition: opacity 0.2s 0, visibility 0 0.2s;
}
/* line 388, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.cd-form .cd-error-message::after {
  /* triangle */
  content: '';
  position: absolute;
  left: 22px;
  bottom: 100%;
  height: 0;
  width: 0;
  border-bottom: 8px solid rgba(215, 102, 102, 0.9);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
/* line 397, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.cd-form .cd-error-message.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s 0, visibility 0 0;
  -moz-transition: opacity 0.2s 0, visibility 0 0;
  transition: opacity 0.2s 0, visibility 0 0;
}
@media only screen and (min-width: 600px) {
  /* line 256, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
  .cd-form {
    padding: 2em;
  }
  /* line 408, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
  .cd-form .fieldset {
    margin: 2em 0;
  }
  /* line 411, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
  .cd-form .fieldset:first-child {
    margin-top: 0;
  }
  /* line 415, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
  .cd-form .fieldset:last-child {
    margin-bottom: 0;
  }
  /* line 420, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
  .cd-form input.has-padding {
    padding: 16px 20px 16px 50px;
  }
  /* line 424, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
  .cd-form input[type=submit] {
    padding: 16px 0;
  }
}

/* line 430, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.cd-form-message {
  padding: 1.4em 1.4em 0;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  /* line 430, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
  .cd-form-message {
    padding: 2em 2em 0;
  }
}

/* line 441, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.cd-form-bottom-message {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -30px;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
}
/* line 449, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.cd-form-bottom-message a {
  color: #FFF;
  text-decoration: underline;
}

/* line 455, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
.cd-close-form {
  /* form X button on top right */
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  top: -40px;
  background: url("../img/cd-icon-close.svg") no-repeat center center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
@media only screen and (min-width: 1170px) {
  /* line 455, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
  .cd-close-form {
    display: none;
  }
}

/* line 473, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
#cd-login, #cd-signup, #cd-reset-password {
  display: none;
}

/* line 477, C:/Users/Omar/Desktop/Lock-n-Code/LockBlog/app/assets/stylesheets/users.scss */
#cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
  display: block;
}
