<%= stylesheet_link_tag 'application' %>
<%= stylesheet_link_tag 'homapagestyle.css' %>
<%= javascript_include_tag 'Welcome.js'%>
   
<body id="top">
        <header id="home">
          
          <section class="hero" id="hero">
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center inner">
                  <h1 class="animated fadeInDown">Lock-<span>n</span>-Code</h1>
                  <p class="animated fadeInUp delay-05s">A evolutionary new Web Design Company</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                  <a href="articles#index" class="learn-more-btn">Visit our article</a>
                </div>
              </div>
            </div>
          </section>
        </header>

        <section class="features text-center section-padding" id="features">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="arrow">Love what you do, and you'll do it well</h1>
                <p>we love working as software engineers</p>
              </div>
            </div>
          </div>
      </div>
        </section>
       
        <section class="swag text-center">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <h1>I got 99 Problems<span>but <em>design</em> 'aint one</span></h1>
                <a href="#top" class="down-arrow-btn" class="disabled"><i class="fa fa-chevron-down"></i></a>
              </div>
            </div>
          </div>
        </section>
        <section class="portfolio text-center section-padding" id="portfolio">
          <h1 class="arrow" >Our vision is clear</h1>
          <p>Kill all lalas</p>
        </section>
        <div class="ignite-cta text-center">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <a href="#" class="ignite-btn">Ignite Your Passion</a>
              </div>
            </div>
          </div>
        </div>
<h1 class="arrow"style="background:#2E757A;">Our amazing team</h1>
       
  <section id="myCarousel" class="carousel slide">
    <style scoped>

    .carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}
#myCarousel{
    background: #fff;
    height: 600px;
}
/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer {
    margin: 50px 0;
}
ol{
    position: relative;
    top: 95%;
}
.col-md-4{
    text-align: center;
    height: 75%;
    position: relative;
    top: 30%
}

body{
  background:#2E757A;
}
    </style>

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner" >
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background:#2E757A;">
                      <div class="col-md-4">
                        <a href="/static_pages/doola"><img src="/assets/doola.jpg" style=" border-radius: 100px; width:100px; height:100px;" class="Team"></a>
                        <h2>Jon Snow</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                      </div>
                      
                      <div class="col-md-4 delay-05s">
                       <a href="/static_pages/hagin"> <img src="/assets/hagin.jpg" style=" border-radius: 100px; width:100px; height:100px;"class="Team"></a>
                        <h2>Cersei Lannister</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                      </div>
                      <div class="col-md-4 delay-1s">
                       <a href="/static_pages/khalid"> <img src="/assets/sheikh.jpg" style=" border-radius: 100px; width:100px; height:100px;" class="Team"></a>
                        <h2>Jamie Lannister</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                      </div>
                    </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background:#2E757A;">  
                      <div class="col-md-4">
                        <a href="/static_pages/amira"><img src="/assets/amira.jpg" style=" border-radius: 100px; width:100px; height:100px;" class="Team"></a>
                        <h2>Jon Snow</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                      </div>
                      
                      <div class="col-md-4 delay-05s">
                        <a href="/static_pages/menna"><img src="/assets/menna.jpg" style=" border-radius: 100px; width:100px; height:100px;" class="Team"></a>
                        <h2>Cersei Lannister</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                      </div>
                      <div class="col-md-4 delay-1s">
                        <a href="/static_pages/rania"><img src="/assets/rania.jpg" style=" border-radius: 100px; width:100px; height:100px;" class="Team"></a>
                        <h2>Jamie Lannister</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                      </div>
                    </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background:#2E757A;">  
                      <div class="col-md-4">
                        <a href="/static_pages/OmarAdel"><img src="/assets/OmarAdel.jpg" style=" border-radius: 100px; width:100px; height:100px;" class="Team"></a>
                        <h2>Jon Snow</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                      </div>
                      
                      <div class="col-md-4 delay-05s">
                       <a href="/static_pages/kareem"> <img src="/assets/kareem.jpg" style=" border-radius: 100px; width:100px; height:100px;"  class="Team"></a>
                        <h2>Cersei Lannister</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                      </div>
                      <div class="col-md-4 delay-1s">
                        <a href="/static_pages/hossam"><img src="/assets/hossam.jpg" style=" border-radius: 100px; width:100px; height:100px;" class="Team"></a>
                        <h2>Jamie Lannister</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                      </div>
                    </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </section>








        <section class="subscribe text-center">
          <div class="container">
            <h1><i class="fa fa-paper-plane"></i><span>Subscribe to stay in the loop</span></h1>
            <form action="#">
              <input type="text" name="" value="" placeholder="" required>
              <input type="submit" name="" value="Send">
            </form>
          </div>
        </section>
        <section class="dark-bg text-center section-padding contact-wrap" id="contact">
          <a href="#top" class="up-btn"><i class="fa fa-chevron-up"></i></a>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="arrow">Drop us a line</h1>
              </div>
            </div>
            <div class="row contact-details">
              <div class="col-md-4">
                <div class="light-box box-hover">
                  <h2><i class="fa fa-map-marker"></i><span>Address</span></h2>
                  <p>Level 6, 23 Pitt St, Sydney</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="light-box box-hover">
                  <h2><i class="fa fa-mobile"></i><span>Phone</span></h2>
                  <p>+61 9 211 3747</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="light-box box-hover">
                  <h2><i class="fa fa-paper-plane"></i><span>Email</span></h2>
                  <p><a href="#">hey@halcyondays.com</a></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <ul class="social-buttons">
                  <li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
                  <li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <footer>
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <ul class="legals">
                  <li><a href="#">Terms &amp; Conditions</a></li>
                  <li><a href="#">Legals</a></li>
                </ul>
              </div>
              <div class="col-md-6 credit">
                <p>Designed &amp; Developed by <a href="http://www.peterfinlan.com/">Peter Finlan</a> exclusively for <a href="http://tympanus.net/codrops/"><em>Codrops</em></a></p>
              </div>
            </div>
          </div>
        </footer>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      </body>
