
<%= stylesheet_link_tag 'application' %>

<h1><big><big><strong>Lock N' Code</strong></big></big></h1>


<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'bootstrap' %>
<%= javascript_include_tag 'bootstrap.min' %>

 <link href="/assets/full-width-pics.css" rel="stylesheet">


    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-fluid-height">
       
    </header>

    <!-- Content Section -->
    <section>
        <div class="container-m">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">Our Vision</h1>
                    <p class="lead section-lead">Lock N; Code is a leading software development company with the objective of delivering high quality effective software. We will provide with the software you want fast and functional hopefully :D   </p>
                    <p class="section-paragraph">;;;;;;;;;;;;;;;;;;;;;</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Fixed Height Image Aside -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <aside class="image-bg-fixed-height"></aside>

    <!-- Content Section -->
    <section>
        <div class="container-m">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading"> Enjoy going through our crazy intersting blogs</h1>
                    <p class="lead section-lead"></p>
                  <a href="articles#show" class="btn btn-info" role="button"><span class="glyphicon glyphicon-file"></span>Articles</a>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <h1 class="section-heading">Our Beloved Team</h1>
    <div class="OUR">

             
                      <div class="col-md-4">
                        <img src="/assets/doola.jpg" alt="Team Member" href="/Lock-n-Code/LockBlog/app/views/html/doola.html">
                        <img src="/assets/hagin.jpg" alt="Team Member" href="/Lock-n-Code/LockBlog/app/views/html/hagin.html">
                        <img src="/assets/sheikh.jpg" alt="Team Member" href="/Lock-n-Code/LockBlog/app/views/html/sheikh.html">
                        </div>
                          <div class="col-md-4">
                        <img src="/assets/kareem.jpg" alt="Team Member" href="/Lock-n-Code/LockBlog/app/views/html/kareem.html">
                        <img src="/assets/OmarAdel.jpg" alt="Team Member" href="/Lock-n-Code/LockBlog/app/views/html/OmarAdel.html">
                        <img src="/assets/hossam.jpg" alt="Team Member" href="/Lock-n-Code/LockBlog/app/views/html/hossam.html">
                        </div>
                          <div class="col-md-4 ">
                        <img src="/assets/menna.jpg" alt="Team Member" href="/Lock-n-Code/LockBlog/app/views/html/menna.html">
                        <img src="/assets/rania.jpg" alt="Team Member" href="/Lock-n-Code/LockBlog/app/views/html/rania.html">
                        <img src="/assets/amira.jpg" alt="Team Member" href="/Lock-n-Code/LockBlog/app/views/html/amira.html">
                        </div>
                   
    </div>

    <!-- Footer -->
    <footer>
        <div class="container-m">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Lock-n-Code 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </footer>

<style type="text/css">
    .col-md-4 img {
        height: 100px;
        width: 100px;
        border-radius: 50px;
       
    }
  
.OUR{
    float: middle;
    position: relative;
    left: 420px;
}

.section-heading{
    text-align: center;
}
.lead section-lead{
     text-align: center;
}

.btn btn-info{
    position: relative;
    left: 420px;
}

</style>

<script type="text/javascript">   
    $('.carousel').carousel({
        interval: 1000 //changes the speed
    })
		</script>

