// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin-left: auto;
  margin-right: auto;
  width: 60%; }

#authorIMG {
  border: 1px solid;
  border-radius: 25px; }

p {
  font-size: 25px; }