// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// You can use Sass (SCSS) here: http://sass-lang.com/

.Us{
	height: 500px;
	width: 100%;
	position:relative;
}

img{
	height : 100px;
    width : 100px;
    border-radius : 100px;
    border : 5px solid white;
}

.col-md-4 wp5{
	position:relative;
	top: -30px;
}